<h1 class='page-header'>History</h1>

<div class="alert alert-warning" role="alert">This is a sample page. Replace link in the header with your own.</div>

<%= image_tag('history.png') %>

<table>
        <thead>
                <tr>
                        <th>Date</th>
                        <th>Opponent</th>
                        <th>Score</th>
                        <th>Result</th>
                </tr>
        </thead>
        <tbody>
                <%- @games.each do |game| %>
                        <tr>
                                <td><%= game.date %></td>
                                <td><%= game.opponent_display_name %>
                                <td><%= game.score %></td>
                                <td><%= game.result %></td>
                        </tr>
                <% end %>
        </tbody>
</table>
